.section1 {
  background-image: url('../assets/images/refl-hero.svg');
  background-repeat: no-repeat;
  background-position-x: -14%;
  background-size: 28%;
}
.section1 img {
  margin-bottom: 0;
}

.section1 h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 39.99rem) {
  .section1 div:last-child {
    height: 300px;
    justify-content: center;
  }
}

.section2 h2 {
  font-weight: 400;
}

.section2 p {
  line-height: 2rem;
}

.section2 section:first-child img {
  top: -200px;
  height: 555px;
}

.section2 section img {
  top: -100px;
}

@media (max-width: 39.99rem) {
  .section2 section:first-child img {
    top: 0px;
    height: 300px;
  }
  .section2 section img {
    position: relative;
    justify-content: center;
    left: -18px;
    height: 300px;
    top: 0;
  }
  .section2 section:last-child img {
    margin-bottom: 0;
  }
  .section2 section div {
    justify-content: center;
  }
  .section2 section:nth-child(2) {
    flex-direction: column-reverse;
  }
  .section3 div:last-child {
    flex-direction: column-reverse;
  }
}
.section3 {
  background-image: url('../assets/images/SectionBackground.svg'),
    linear-gradient(to left, #0055ff, #508bff);
}

.section3 p {
  line-height: 1.5rem;
  font-weight: 300;
}
