.footer {
  border-bottom: solid 1px #ececec;
}

.footer ul {
  margin: 0
}

.footer li {
  list-style: none;
  margin-bottom: 1rem;
}

.footer a {
  color: #0055ff;
}

.footer h2{
  margin-top:.5rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.footer svg {
  vertical-align: middle;
  max-width: 12rem;
}

@media (max-width: 39.99rem) {
  .footer h2 {
    margin-bottom: 1rem;
  }
  footer div:last-child div:first-child span, footer div:last-child div:first-child a{
    display: block;
  }
  footer div:last-child div:last-child{
    margin-left:0
  }
  footer div:last-child div:last-child a {
    justify-content: flex-start;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
