/*Helpers*/

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.items-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}
.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pt3{
    padding-top:2rem
}
.px3 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt4{
    padding-top:4rem
}
.px4{
    padding-left:4rem;
    padding-right:4rem
}
.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.pt5 {
  padding-top: 8rem;
}
.my3{
    margin-top:2rem;
    margin-bottom:2rem
}
.line-height-3 {
  ine-height: 1.25;
}

.white,
.white-focus:focus,
.white-hover:hover {
  background-color: #fff;
}

.rounded {
  border-radius: 3px;
}

.green {
  background-color: #23cf5f;
}

.blueGray {
  background-color: rgba(0, 85, 255, 0.03);
}

.green-shadow {
  box-shadow: 0 8px 9px 0 rgba(35, 207, 95, 0.13);
}

.blue-shadow {
  box-shadow: 0 8px 9px 0 rgba(0, 85, 255, 0.17);
}

.blue {
  background-color: #0055ff;
}

/*Typography*/
.bold,
.strong {
  font-weight: 500;
}

.text-white {
  color: #fff;
  fill: #fff;
}

.text-blue {
  color: #0055ff;
  fill: #0055ff;
}
